@charset "utf-8";
.checkout_error p {
	font-size: 14px;
	color: red;
	line-height: 20px;
	font-weight: bold;
}
.checkout_title h1 {
	font-size:16px;
	color:#fff;
}
.checkout_prod_photo img {
	width:100%;
	height:auto;
	max-width:80px;
	float:left;
	margin-right:10px;
}
.checkout_prod_item {
	float:left;
	width:80%;
}
.checkout_prod_name {
	font-size:16px;
	height:24px;
	line-height:24px;
	overflow:hidden;
}
.checkout_prod_qty {
	font-size:16px;
	height:30px;
	line-height:30px;
}
.checkout_prod_price {
	height:30px;
	line-height:30px;
	margin-top:8px;
}
.checkout_prod_price h5 {
	font-size:16px;
	float:left;
}
.checkout_prod_price h3 {
	font-size:22px;
	font-weight:bold;
	float:left;
	padding:0 5px;
}

.checkout_prod_delete img {
	width:20px;
	height:20px;
}
.checkout_total_title h1 {
	font-size:16px;
	color:#000;
	font-weight:bold;
}
.checkout_total_item h3 {
	font-size:16px;
	float:left;
	height:30px;
	line-height:30px;
}
.checkout_total_item h4 {
	font-size:16px;
	float:right;
	text-align:right;
	height:30px;
	line-height:30px;
}
.checkout_total_line h3 {
	width: 60%;
	float: left;
	border-bottom: 1px solid;
}
.checkout_total_line h4 {
	width: 30%;
	float: right;
	border-bottom: 1px solid;
}
.checkout_total_qty h2 {
	float:left;
	font-size:22px;
	padding:0 12px;
}
.checkout_total_qty::before {
	content:"共";
	color:#000;
	font-size:16px;
	float:left;
	margin-top:1px;
}
.checkout_total_qty::after {
	content:"件";
	color:#000;
	font-size:16px;
	float:left;
	margin-top:1px;
}
.checkout_total_amount h3 {float:left; font-size:16px; }
.checkout_total_amount h4 {float:right; font-weight:bold; font-size:20px;}
.checkout_payment_item h4 {margin:5px 12px 0; font-size:16px; float:left;}
.orange_h3 {font-size:16px; color:#000; margin:15px 0 5px;}
.orange_h4 {float:left; font-size:16px; color:#000; margin:5px 0 0 10px;}
.black_word {color:#000;}
.btn_711 a {
	width:130px;
	height:30px;
	background: url(../images/7_11.png) no-repeat;
	background-size:180px 45px;
	color:#fff;
	padding:15px 0 0 50px;
	margin:10px auto;
	font-size:18px;
}
.box_711 {width:90%; font-size:15px; padding:5px;}
