@charset "utf-8";
.contact_us_wrap {width:100%;}
.contact_us_content {width:90%; margin:0 auto; text-align:center;}
.contact_us_content h2 {font-size:18px; font-weight:bold; margin:10px 0;}
.customer_service {text-align:center;}
.service_icon {display:inline-block; vertical-align:20px;}
.service_icon img {width:100%; height:auto; max-width:75px; margin:5px;}
.service_info {font-size:16px; line-height:28px; margin-left:20px; display:inline-block; text-align:left;}
.service_info li {list-style-type:disc;}
.contact_us_content p {font-size:16px; line-height:26px; margin:20px;}

