@charset "utf-8";
/*架構外框*/
.big_bn_wrap {width:100%;}
.theme_icon_wrap {width:100%;}
.top_title_wrap {width:100%;}
.block_type_wrap {width:100%; padding-bottom:10px;}

/*大輪播 star*/
.slider {width:100%; margin:0 auto;}
.slick-slide img {width: 100%;}
.slick-dots {bottom:15px;}
.slick-dots li {width:5px; height:5px; margin:0 8px;}
.slick-dotted.slick-slider {margin-bottom:-1px;}
.slider_bn {}
 
 /*四小格*/
.theme_btn {display:inline-block; margin:8px 1%;}
.theme_btn a img {max-width:220px; width:100%; height:auto;}

/*大標題*/
.top_title {text-align:center; padding:10px 0 8px 0;}

/*商品方格*/
.block_type_wrap {padding-bottom:0px;}
.prod_block_wrap {width:98%; margin:0 auto;}
.prod_block {width:49%; float:left; margin-left:1%; border-bottom:1px solid #ccc;}
.prod_block:nth-child(even) {margin-left:0px;}
.prod_photo {width:100%; margin-top:5px; text-align:center;}
.prod_photo img {width:100%; height:auto; max-width:220px;}
.prod_title {margin-top:5px; text-align:left; line-height:18px; overflow:hidden; height:36px;}
.prod_price_wrap {width:100%; height:28px; overflow:hidden;}
.prod_sale_price{margin:0 3px; line-height:32px;}
.shopping_bar {width:100%; margin:0 auto; height:45px;}
.sold {float:left; width:58%; margin:10px 0 0 6px; overflow:hidden;}
.shopping_cart {float:right; width:32%; text-align:center;}
.shopping_cart a {height:45px;}
.shopping_cart img {width:100%; height:auto; max-width:35px;}

/*商品條列_L*/
.index_list {margin:5px 0;}

/*商品單一項*/
.prod_one {width:100%; margin-top:5px;}
.prod_photo_one {width:100%; padding-top:8px; text-align:center;}
.prod_photo_one img {width:100%; height:auto; max-width:400px;}
