@charset "utf-8";
.prod_price h4 {
	font-size:20px;
	font-weight: bold;
	float:left;
}
.prod_price h6 {
	text-decoration: line-through; 
	font-size: 12px;
	color:#666;
	float:left;
	margin:5px 0 0 20px;
}
.prod_feature h4 {
	font-size:15px;
	margin:3px 0;
}
.prod_feature h5 {font-size:13px; line-height:18px;}
.prod_feature dl {margin:0;}
.prod_feature dt {font-size:14px; line-height:18px; float:left;}
.prod_feature dd {font-size:14px; line-height:18px; float:left; margin:0 5px 0 5px;}
.prod_info_wrap h3 {
	border-top: 1px solid #B3B3B3;
	/*border-bottom: 1px solid #B3B3B3;*/
	line-height: 35px;
	padding-left: 20px;
	font-size: 15px;
	cursor: pointer;
}
.bot_title {
	border-top: 1px solid #B3B3B3;
	line-height: 38px;
	padding-left: 10px;
	font-size: 15px;
	color:#fff;
}
.bot_title img {width:15px; height:15px;}
.prod_info_wrap p {
	text-align:center;
}
.prod_info_wrap p img {
	width: 100%;
	height: auto;
	max-width: 768px;
}
.specification h5 {padding:2px 30px;}
.orange {color:#F78C00;}
.like_box a img {
	width:80%;
	height:auto;
	max-width:200px;
}
.like_box h4 {
	font-size:13px;
	float:left;
	line-height:18px;
}
.like_box h2 {
	font-size:18px;
	float:right;
	font-weight:bold;
	line-height:18px;
}
.like_box h5 {
	font-size:13px;
	line-height:18px;
	margin:5px 0;
}
.ui-accordion .ui-accordion-header {font-size:15px;}
