@charset "utf-8";
body {font-family:Arial, "微軟正黑體", "Microsoft JhengHei", "sans-serif";}
a {color:#000;}
.border_line {border:1px solid #999; margin:10px 0;}
header p {font-size:17px;}
.return_title {font-size:16px;}
footer {font-size:12px;}
.btn button {font-size:14px;}
