@charset "utf-8";
.edm_top_wrap {width:100%;}
.edm_bn_wrap {width:100%;}
.edm_prod_wrap {width:100%; padding-bottom:10px;}
.top_bn {}
.top_bn img {width:100%;}
.edm_bn {width:100%; margin:5px 0;}
.edm_bn img {width:100%;}




