@charset "utf-8";
.top_title {color:#fff; font-size:17px;}
.prod_title {font-size:14px;}
.prod_sale_price {font-size:20px; font-weight:bold;}
.prod_icon_bar h3{font-size:18px;}
.sold {font-size:13px;}
.prod_font {font-size:14px !important;}
.prod_bg {background:#fff;}



