@charset "utf-8";
.prod_price h4 {font-size:20px; font-weight: bold; float:left;}
.prod_price h6 {
	text-decoration: line-through; 
	font-size: 12px;
	color:#666;
	float:left;
	margin:5px 0 0 20px;
}
.prod_feature {background: #fff;}
.prod_feature h4 {font-size:15px; line-height:24px;}
.prod_feature h5 {font-size:14px; line-height:18px;}
.prod_feature dt, dd {font-size:14px; line-height:20px;}
.prod_info_wrap {background:#fff;}
.prod_info_wrap h3 {
	border-top: 1px solid #B3B3B3;
	line-height: 35px;
	padding-left: 20px;
	font-size: 15px;
	cursor: pointer;
}
.bot_title {
	border-top: 1px solid #B3B3B3;
	line-height: 38px;
	padding-left: 10px;
	font-size: 15px;
	color:#fff;
}
.specification {line-height:18px; font-size:14px; background:#fff;}
.orange {color:#F78C00;}
.like_box {background:#fff;}
.like_box h4 {font-size:13px; float:left; line-height:18px;}
.like_box h2 {font-size:18px; float:right; font-weight:bold; line-height:18px;}
.like_box h5 {font-size:13px; line-height:15px; margin:5px 0; height:30px; overflow:hidden;}

.ui-accordion .ui-accordion-header {font-size:15px;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	background:#ccc;
} /*tab未選取背景色*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active,ui-button:active, .ui-button.ui-state-active:hover {	
	background:#424242;
} /*tab選取背景色*/


/*google map*/
.map_set_wrap {font-size:15px;}
.map_set {font-size:15px;}
.google_map {background:#ccc;}
.map_item_wrap {background:#fff; font-size:14px;}
.map_item {font-size:15px; line-height:18px;}
